<a href="https://colab.research.google.com/github/BeccaAmelie/BubbleShooterPygame/blob/master/Copy_of_CS3033_Data_Mining_InClassTest_Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS3033 - Data Mining - Dry Run

### Submission

You should submit a single .ipnyb file with your python code and analysis electronically via Canvas.
Please note that this assignment will account for 25 Marks of your module grade.

### Declaration

By submitting this assignment. I agree to the following:

<font color="red">“I have read and understand the UCC academic policy on plagiarism, and agree to the requirements set out thereby in relation to plagiarism and referencing. I confirm that I have referenced and acknowledged properly all sources used in the preparation of this assignment.
I declare that this assignment is entirely my own work based on my personal study. I further declare that I have not engaged the services of another to either assist me in, or complete this assignment”</font>



## Data Preparation
Prepare the dataset between features and labels.

In [ ]:
import pandas as pd

# Load the data
df = pd.read_csv('https://github.com/ncrossberg/Datasets/blob/d2ffbf2e72e1842af52b25c37a5458713b3eb461/Final_Dataset_CS3033.csv?raw=true', index_col= 0)

df.head()

,Gender,Age,Attendance (%),Midterm_Score,Final_Score,Assignments_Avg,Quizzes_Avg,Participation_Score,Projects_Score,Total_Score,Study_Hours_per_Week,Extracurricular_Activities,Internet_Access_at_Home,Stress_Level (1-10),Sleep_Hours_per_Night,Grade
0,1,23,93.95,64.48,55.32,75.06,87.33,3.55,60.93,99.80,5.0,0,1,8,6.9,1
1,0,21,70.78,64.76,93.78,51.85,62.11,9.98,59.07,53.64,20.9,0,1,9,7.2,1
2,1,24,96.00,81.83,52.55,80.97,80.64,4.35,54.76,86.08,29.0,0,1,4,4.8,1
3,0,23,52.61,69.23,71.16,52.15,64.49,1.19,90.57,50.96,14.2,0,1,8,5.4,2
4,1,19,NaN,69.82,99.68,NaN,76.39,3.46,95.19,99.16,7.8,0,1,1,8.3,3

In [ ]:
import numpy as np

# Replace NaN values with 0
df.fillna(0, inplace=True)

In [ ]:
df.dtypes

Gender                          int64
Age                             int64
Attendance (%)                float64
Midterm_Score                 float64
Final_Score                   float64
Assignments_Avg               float64
Quizzes_Avg                   float64
Participation_Score           float64
Projects_Score                float64
Total_Score                   float64
Study_Hours_per_Week          float64
Extracurricular_Activities      int64
Internet_Access_at_Home         int64
Stress_Level (1-10)             int64
Sleep_Hours_per_Night         float64
Grade                           int64
dtype: object

In [ ]:
df['Grade'].value_counts()

Grade
1    2473
2    1683
3     844
Name: count, dtype: int64

**T1 - Split your dataset between features (X) and labels (y).**

In [ ]:
# X is all columns but the grade, y is just the Grade
X = df.drop("Grade", axis = 1)
y = df["Grade"]

**T2 - Split the dataset into 80% training set and 20% test set. Do it in a stratified manner and set the random seed to 42 for reproducibility.**

In [ ]:
# split the data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

## Machine Learning Pipeline

**T3 - Create a basic pipeline that includes**
*   PCA
*   KNN Classifier

In [ ]:
# import libraries
from sklearn import neighbors
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler
#create pipeline
pipe = Pipeline(steps=[('pca', PCA(8)), ('classifier',neighbors.KNeighborsClassifier(5))])

**T4 - Train the pipeline on the training set and evaluate it on the test set.**

In [ ]:
# train the pipeline and print accuracy score
pipe.fit(X_train,y_train)
print('Test Accuracy:', pipe.score(X_test, y_test))

Test Accuracy: 0.582

**Q1 - Is the accuracy you obtained higher than that of a baseline classifier?**

Since there are three different grades: 1,2,3, random classification would have an accuracy of 33%, hence this 58% is almost twice as good.
## Comparison

**T5 - Change the KNN with a Decision Tree Regressor.**

In [ ]:
# import decision tree
from sklearn import tree
# create descision tree regressor pipeline
pipe = Pipeline(steps=[('pca', PCA(8)), ('classifier',tree.DecisionTreeRegressor())])
# pipe = Pipeline(steps=[('pca', PCA(8)), ('classifier',tree.DecisionTreeRegressor(random_state = 0))])

In [ ]:
# train the pipeline and print accuracy score
pipe.fit(X_train,y_train)
print('Test Accuracy:', pipe.score(X_test, y_test))

Test Accuracy: -0.34833717035666356

**Q2 - Is it better to tackle this problem as a classification or regression one?**

Your answer here

Classification is better, as accuracy is 58% while the regressor is about 34% depending on random_state. 34% if it is set to 0 (in comments, as it was not asked for).